.form{
    background-color: #f1f1f1;
    position: relative;
    border-radius: 0.1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.formBasic{
    height: 400px;
    width: 400px;
}
.formWide{
    height: auto;
    width: 1050px;
}
.formSmall{
    height: 100px;
    width: 400px;
}