.copy{
    font-size: larger;
}
/*
    font-family: 'Caveat', cursive; --- HEADER TEXT
    font-family: 'Indie Flower', cursive; --- HEADER TEXT
    font-family: 'Amatic SC', sans-serif; --- HANDwrite TEXT
    font-family: 'Kalam', cursive; --- HEADER TEXT
    font-family: 'Saira', sans-serif; ---PLAIN TEXT
    font-family: 'Sarala', sans-serif; ---PLAIN TEXT
*/